# Exclude OS X folder attributes
.DS_Store

# Exblude temp files
*.swp

log/*.log

# Exclude the build directory
build/*

# Exclude user-specific XCode files
xcuserdata
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace



SmartBlurFilter.xcodeproj/project.xcworkspace/xcuserdata/peacedove.xcuserdatad/UserInterfaceState.xcuserstate
